@{
    ViewData["Title"] = "Inicio";
    var difficultyDropdownItems = new List<SelectListItem>
    {
        new SelectListItem { Value = Tp.Models.Difficulty.Easy.ToString("D"), Text = "Facil"},
        new SelectListItem { Value = Tp.Models.Difficulty.Medium.ToString("D"), Text = "Intermedio"},
        new SelectListItem { Value = Tp.Models.Difficulty.Hard.ToString("D"), Text = "Dificil"},
    };
}

<div class="text-center">
    <h1 class="display-4">Ahorcado</h1>
    <p>Integrantes: Luciano Vanneli y Manuel Bahamonde</p>
    <p class="error">@Html.ValidationMessage("Argument", null)</p>
    <div class="text-center">
        <div class="row mb-3">
            <div class="col">
                <div class="form-group">
                    <label for="player-name-textbox">Player Name</label>
                    <input type="text" class="form-control" id="player-name-textbox" name="playerName" placeholder="Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="form-group">
                    <label for="difficulty-dropdown">Game Difficulty</label>
                    @Html.DropDownList("DifficultyDropdown", difficultyDropdownItems, new { @id = "difficulty-dropdown", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="btn-start-game" type="button" value="Start Game" onclick="location.href='@Url.Action("StartGame", "Home")'" />
            </div>
        </div>
    </div>
</div>

<script>
    const refreshSelectedItem = () => {
        const startGameButton = document.getElementById('btn-start-game');
        const plyNameTextbox = document.getElementById('player-name-textbox');

        let link = "location.href='@Url.Action("StartGame", "Home", new { playerName = "-1", difficultyId = "-2" })'";
        link = link.replace('-1', plyNameTextbox.value);
        link = link.replace('-2', difficultyDropdown.value);
        link = link.replace('&amp;', '&');

        console.log(link);
        startGameButton.setAttribute('onclick', link);
    };

    let plyNameTextbox = document.getElementById('player-name-textbox');
    let difficultyDropdown = document.getElementById('difficulty-dropdown');

    plyNameTextbox.addEventListener('input', refreshSelectedItem);
    difficultyDropdown.addEventListener('change', refreshSelectedItem);
</script>